.navbar .navbar-brand img{
    width: 120px;
}
footer img{
  width: 70px;
  margin-top: -4px;
}
.dropdown-item:hover {
    color: #000 !important;
  }
.card-body{
  position: relative;
}
/* .card-body p{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 15px;

} */
.card-body spc{
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;

  /* font-size: smaller; */

}
.card-body a{
  position: absolute;
  bottom: 10px;
  /* border: none; */
  left: auto;
}
div.infinite-scroll-component {
  overflow: hidden !important;
}


.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #0c0c0c;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #f51010;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .3em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .3em .3em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .3em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.3em .3em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.3em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.3em -.3em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.3em 0 0 currentcolor;
    }
    87% {
      box-shadow: .3em -.3em 0 0 currentcolor;
    }
  }

  
@media (min-width: 992px){
    .card{
        height: 368px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        height: 400px;
    }
    .card-body .spc{
      line-height: 5px ;
    
      /* font-size: smaller; */
    
    }
    
}
@media (min-width: 577px) and (max-width: 767px){
    .card{
        height: 395px;
    }
    
}
@media screen and (max-width: 576px){
    .card{
        height: 440px;
    }
    .card .card-text{
      margin-bottom: 1px;
      font-size: medium;
    }
    .card .card-title{
      line-height: 20px;
    }
    
}


  